/* No need to include Tailwind specific styles here */

/* Loader Animation */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line1, .line2, .line3 {
    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);
    }
    100% {
        transform: scaleY(1);
    }
}

/* Navbar styles */
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
}

/* Dark Mode */
.dark {
    background-color: #333;
    color: #fff;
}

/* Slider (Tiny Slider) */
.tns-nav {
    display: none; /* Hide default navigation buttons */
}

/* Modal */
#portfolio-modal {
    z-index: 1000;
}

